@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --mainColor: #131722;
  --secColor: #fff;
}
body {
  background-color: var(--mainColor) !important;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--secColor) !important;
}
a,
a:hover {
  color: #fff !important;
  text-decoration: none !important;
}
li {
  list-style: none;
  margin: 10px 0;
}
input {
  background-color: transparent !important;
  color: #fff !important;
}
.theCard{
  transition: 0.2s all ease-in-out;
}
.theCard:hover{
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 1px rgb(13, 202, 240,1)) !important;
  cursor: pointer;
}
